body {
    /* 文本内容不可选 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap {
    width: 400px;
    margin-top: 100px;
}

/*表头的样式*/
table thead tr:nth-of-type(1) th {
    text-align: center;
    border-bottom-width: 0px;
}
table thead tr:nth-of-type(2) th {
    border-top-width: 0px;
}

/*输出表单框的样式*/
#input {
    width: 100%;
    height: 100%;
    padding: 5px 5px 0px 0;
    font-size: 24px;
    text-align: right;
    outline: none;          /* 设置轮廓不出现 */
    border: 0;
}
#tem{
    width: 100%;
    border: 0;
    text-align: right;
    opacity: 0.7;
    outline: none;
}

/*输入按钮样式*/
table tbody tr td {
    text-align: center;
    font-size: 22px;
    width: 80px;
    height: 40px;
}
table tbody tr td {
    background-color: #f5f5f5;
}
table tbody tr td:hover {
    background-color: #e9e9e9;
}
table tbody tr td:active {
    background-color: #cacaca;
}
.num{
    background-color: #fff;
}
.num_11{
    background-color: #f5f5f5;
}

